In [226]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [237]:
df = pd.read_csv("../data/total_production_v1.csv")
df.head()

,Crop year,Unnamed: 1,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,April group,NaN,40795,42530,46868,40167,39990,29396,44298,39476,...,71811,64395,75896,74494,69873,71332,75508,70324,81708,76076
1,Angola,(R/A),50,79,78,33,77,62,71,64,...,35,29,33,35,39,41,45,35,42,52
2,Bolivia (Plurinational State of),(A),123,104,120,51,117,142,125,141,...,117,132,105,120,100,84,78,84,83,81
3,Brazil,(A/R),27286,27293,34603,28167,28192,18060,29197,26148,...,55428,48592,55418,54689,53305,52871,56788,52740,65131,58211
4,Burundi,(A/R),487,667,620,393,664,434,401,250,...,353,204,406,163,248,269,196,202,204,272

In [228]:
# Remove unnecessary columns
df = df.drop(columns="Unnamed: 1")
# Rename columns: rename, crop year to country
df = df.rename(columns={"Crop year": "country"})

In [230]:
countries = df["country"]
groups = [(i, countries[i].replace(" group", "")) for i, s in enumerate(countries) if 'group' in s]

In [231]:
groups

[(0, 'April'), (15, 'July'), (23, 'October')]

In [232]:
# Slices df for countries based on interval that signifies their group. Returns a new df to concat with global output df
def slice_df(df, groups, index, start, end):
  group_df = pd.DataFrame(df.loc[start: end-1])
  group_df["group"] = groups[index][1]
  return group_df

In [233]:
second_to_last = len(groups) - 1
start, end = None, None

new_df = pd.DataFrame()
for index in range(0, second_to_last):
  start = groups[index][0] + 1
  end = groups[index+1][0]
  new_df = pd.concat([new_df, slice_df(df, groups, index, start, end)])

start = end + 1
end = len(df) - 1
new_df = pd.concat([new_df, slice_df(df, groups, second_to_last, start, end)])

In [234]:
new_df

,country,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,group
1,Angola,50,79,78,33,77,62,71,64,85,...,29,33,35,39,41,45,35,42,52,April
2,Bolivia (Plurinational State of),123,104,120,51,117,142,125,141,138,...,132,105,120,100,84,78,84,83,81,April
3,Brazil,27286,27293,34603,28167,28192,18060,29197,26148,36761,...,48592,55418,54689,53305,52871,56788,52740,65131,58211,April
4,Burundi,487,667,620,393,664,434,401,250,492,...,204,406,163,248,269,196,202,204,272,April
5,Ecuador,1504,2124,1185,2069,2376,1888,1993,1191,1206,...,825,828,666,644,644,645,624,496,559,April
6,Indonesia,7441,8493,5569,6743,5368,4573,8221,7621,7296,...,6889,13070,12901,10946,12585,11541,10852,9618,11433,April
7,Madagascar,982,933,1122,442,641,785,849,624,992,...,585,500,584,501,414,453,404,379,383,April
8,Malawi,105,124,137,62,84,91,49,61,64,...,26,23,28,25,21,20,14,13,16,April
9,Papua New Guinea,963,747,900,1019,1139,1002,1089,1074,1352,...,1414,716,835,798,712,1171,734,930,752,April
10,Paraguay,131,80,54,67,25,26,31,49,32,...,20,20,20,20,20,20,20,20,20,April
11,Peru,937,1200,1762,665,1179,1871,1806,1930,2102,...,5373,4450,4106,2883,3304,4223,4279,4263,3836,April
12,Rwanda,535,484,639,444,22,329,293,193,223,...,251,259,258,238,293,231,264,380,348,April
13,Timor-Leste,0,0,0,0,0,0,0,0,0,...,47,61,80,111,59,82,65,139,103,April
14,Zimbabwe,252,201,78,12,106,131,174,130,149,...,9,7,9,15,14,15,7,10,9,April
16,Congo,3,3,3,3,8,12,14,3,3,...,3,3,3,3,3,3,3,3,3,July
17,Cuba,414,302,284,285,284,285,366,300,280,...,100,88,107,101,100,103,113,128,130,July
18,Dominican Republic,880,321,638,604,730,886,519,941,487,...,491,488,425,397,400,412,412,431,402,July
19,Haiti,393,463,500,451,450,514,428,432,439,...,349,350,345,343,341,342,342,347,347,July
20,Philippines,974,1018,920,875,877,850,890,935,677,...,180,177,186,193,208,215,203,206,307,July
21,Tanzania,932,790,786,734,679,897,764,624,739,...,641,1151,811,753,930,846,783,1175,926,July
22,Zambia,23,29,29,27,21,26,33,38,62,...,11,5,11,3,4,13,19,34,15,July
24,Cameroon,1682,1726,260,683,406,660,1432,889,1114,...,669,371,404,483,391,292,370,310,268,October
25,Central African Republic,175,125,134,166,250,108,208,114,215,...,91,23,90,63,100,37,60,37,55,October
26,Colombia,14396,17980,14947,11422,12964,12938,10779,12122,10868,...,7653,9927,12124,13333,14009,14634,13824,13866,14100,October
27,Costa Rica,2562,2760,2998,2359,2482,2844,2222,2617,2445,...,1831,1823,1552,1475,1440,1372,1561,1427,1472,October
28,Cote d'Ivoire,2940,4129,2246,2293,3006,2532,4859,4164,1992,...,2216,1994,2598,1728,1289,1117,1624,2175,1929,October
29,Democratic Republic of Congo,1580,1230,1180,980,1298,1098,795,811,738,...,357,334,347,335,371,279,382,397,391,October
30,El Salvador,2465,2198,3001,2378,2293,2585,2534,2175,2055,...,1164,1240,515,665,565,610,760,761,661,October
31,Equatorial Guinea,4,3,2,0,3,2,1,2,1,...,0,0,0,0,0,0,0,0,0,October
32,Ethiopia,2909,2925,1825,2967,2763,3165,3407,3057,2928,...,5650,6132,6242,6383,6515,7143,7347,7511,7343,October
33,Gabon,3,2,3,3,8,2,1,3,4,...,1,1,0,1,1,1,0,1,1,October
34,Ghana,38,76,37,45,57,57,32,27,54,...,30,21,25,35,36,26,13,15,14,October
35,Guatemala,3271,3497,4318,3536,3787,4002,4525,4219,4893,...,3850,3763,3189,3310,3410,3684,3734,4007,3606,October
36,Guinea,44,91,76,64,198,104,148,172,421,...,386,234,101,165,286,270,229,153,178,October
37,Guyana,0,0,0,0,0,0,0,0,6,...,10,10,13,9,11,10,10,10,10,October
38,Honduras,1568,2322,1918,1829,2181,1909,2004,2564,2195,...,5882,4686,4583,5268,5786,7457,7560,7153,5931,October
39,India,2829,3000,2823,3533,3002,4012,3417,4109,4417,...,5334,5403,5075,5450,5830,6161,5813,5325,4988,October
40,Jamaica,23,39,26,34,45,43,54,47,29,...,24,24,20,21,20,18,19,18,23,October
41,Kenya,1485,1514,1316,1328,1663,1664,1247,882,1173,...,757,875,843,770,799,793,790,930,844,October
42,Lao People's Democratic Republic,0,0,0,0,0,0,0,0,171,...,514,541,544,552,535,510,533,647,622,October
43,Liberia,3,3,3,5,5,5,5,5,18,...,10,10,6,7,10,12,16,6,6,October
44,Mexico,4674,4727,3401,5023,4159,5300,5110,4802,4801,...,4561,4327,3916,3636,2772,3635,4485,4351,3985,October
45,Nepal,0,0,0,0,0,0,0,0,0,...,2,1,1,2,2,1,2,1,1,October
46,Nicaragua,461,707,547,706,683,985,793,1084,1073,...,2193,1873,2060,1898,2130,2555,2642,2879,2882,October
47,Nigeria,29,44,49,45,52,53,46,45,53,...,47,41,41,43,41,43,42,42,42,October
48,Panama,215,193,197,142,248,209,211,217,192,...,106,116,113,106,127,120,105,128,114,October
49,Sierra Leone,43,54,39,37,73,44,41,50,27,...,78,61,32,46,46,38,38,45,40,October
50,Sri Lanka,96,82,53,54,42,36,37,58,46,...,36,35,37,36,36,37,37,36,36,October
51,Thailand,757,1469,1255,1275,1399,1317,1404,1293,916,...,831,608,638,845,762,538,638,482,517,October
52,Togo,161,433,86,195,176,84,291,221,321,...,160,84,172,143,81,23,115,54,41,October
53,Trinidad & Tobago,15,18,14,16,18,18,18,19,17,...,11,12,12,12,12,12,12,13,12,October
54,Uganda,1955,2088,2185,3142,2393,3244,3419,3440,3386,...,3115,3914,3633,3744,3650,4962,4597,4704,5509,October
55,Venezuela,1122,941,1215,1333,989,1467,1206,951,1597,...,902,952,804,650,500,525,572,578,650,October
56,Viet Nam,1310,1438,2340,3020,3632,3970,5752,6979,7052,...,26500,23402,27610,27241,31090,27819,33432,30283,30487,October
57,Yemen,0,0,0,0,0,0,0,0,69,...,185,188,187,178,156,143,132,86,91,October

In [235]:
df = new_df.melt(id_vars=["country", "group"], var_name="year", value_name="units")

In [236]:
df

                               country    group     year  units
0                               Angola    April  1990/91     50
1     Bolivia (Plurinational State of)    April  1990/91    123
2                               Brazil    April  1990/91  27286
3                              Burundi    April  1990/91    487
4                              Ecuador    April  1990/91   1504
...                                ...      ...      ...    ...
1645                 Trinidad & Tobago  October  2019/20     12
1646                            Uganda  October  2019/20   5509
1647                         Venezuela  October  2019/20    650
1648                          Viet Nam  October  2019/20  30487
1649                             Yemen  October  2019/20     91

[1650 rows x 4 columns]