In [280]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [281]:
df = pd.read_excel("../data/total_production.xlsx", sheet_name=None)
df = df["Production"]
df = df.rename({"Total production by all exporting countries": "Country"}, axis=1)
# We can also remove the second column `Unnamed: 1` as it provides no relevant information  
df = df.drop(columns="Unnamed: 1")

c:\Users\pumah\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [282]:
# We can also remove the second column `Unnamed: 1` as it provides no relevant information
# Looking below, we can see that we have to remove the first 4 rows because row #3 contains the crop year along with the appropriate column names 
display(df.head())

,Country,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,In thousand 60kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Crop year,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April group,40795.2926,42529.5454,46868.2042,40166.7591,39990.3663,29395.9601,44297.8201,39475.8391,50892.4914,...,71811.3709,64395.2131,75895.881,74494.0133,69873.1443,71331.7881,75507.8515,70324.4647,81707.9885,76075.7437

In [283]:
year_columns = df.columns[1:] # Get the current columns, except the first one (Country)
year_row = df.iloc[2][1:] # Get the new column names on row 3 which will be from 1900/91 and beyond

new_columns = dict(zip(year_columns, year_row)) # Create dictionary for mapping current column names to new column names
df = df.rename(columns = new_columns)
display(df)

,Country,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,In thousand 60kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Crop year,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April group,40795.2926,42529.5454,46868.2042,40166.7591,39990.3663,29395.9601,44297.8201,39475.8391,50892.4914,...,71811.3709,64395.2131,75895.881,74494.0133,69873.1443,71331.7881,75507.8515,70324.4647,81707.9885,76075.7437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Viet Nam,1310.288,1437.848,2340.447,3020.216,3631.609,3970.086,5752.481,6978.942,7051.722,...,19999.9999,26499.6111,23402.1057,27609.7814,27240.5219,31090.0419,27819.1762,33432.499,30283.0748,30487.1644
63,Yemen,0,0,0,0,0,0,0,0,68.7007,...,161.1675,185.0677,187.5251,187.2981,178.3814,156.246,143.4533,132.1281,85.5762,91.4278
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Total,93230.0596,101266.6844,98524.0942,91761.0531,93313.7693,87320.8691,103307.8761,99887.1611,108865.6062,...,140077.5378,141327.3877,151183.5121,153910.3398,150301.6726,156126.4745,162319.9801,163693.1027,172460.8203,165053.0157
66,Â© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
# Remove first 4 rows that are no longer necessary
df = df.iloc[4:]
display(df)

After removing the first 4 rows, we have the following rows:

,Country,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
4,April group,40795.2926,42529.5454,46868.2042,40166.7591,39990.3663,29395.9601,44297.8201,39475.8391,50892.4914,...,71811.3709,64395.2131,75895.881,74494.0133,69873.1443,71331.7881,75507.8515,70324.4647,81707.9885,76075.7437
5,Angola,50.345,79.331,77.52,32.608,76.802,62.109,70.925,64.33,85.344,...,34.97,28.715,32.79,34.935,39.405,40.515,44.83,35.006,41.9027,51.8419
6,Bolivia (Plurinational State of),122.777,103.536,120.235,50.823,116.944,142.485,124.579,140.719,137.985,...,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
7,Brazil,27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,36760.8533,...,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
8,Burundi,487.393,667.199,620.238,393.354,664.143,433.98,400.969,249.785,491.992,...,352.9776,204.1328,405.9615,163.2177,247.55,269.4576,196.4128,202.1079,204.3391,272.4688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Viet Nam,1310.288,1437.848,2340.447,3020.216,3631.609,3970.086,5752.481,6978.942,7051.722,...,19999.9999,26499.6111,23402.1057,27609.7814,27240.5219,31090.0419,27819.1762,33432.499,30283.0748,30487.1644
63,Yemen,0,0,0,0,0,0,0,0,68.7007,...,161.1675,185.0677,187.5251,187.2981,178.3814,156.246,143.4533,132.1281,85.5762,91.4278
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Total,93230.0596,101266.6844,98524.0942,91761.0531,93313.7693,87320.8691,103307.8761,99887.1611,108865.6062,...,140077.5378,141327.3877,151183.5121,153910.3398,150301.6726,156126.4745,162319.9801,163693.1027,172460.8203,165053.0157
66,Â© International Coffee Organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [285]:

# # Remove comma from string values and turn into integers
# df[year_columns]  =  df[year_columns].apply(lambda x: x.str.replace(",", "")).astype(int)

In [286]:
# # Distinct Countries
# countries = df["Crop year"].unique()
# print("Distinct countries represented {}".format(countries))

In [287]:
# # Distinct Years
# years = df.columns.unique()
# print("Distinct years {}".format(years[2:]))

In [288]:
# print("Data frame has null values: {}".format(df.isnull().values.any()))

In [289]:
#